################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Password-Missile/FileContentIndex/e6f07ce1-398a-4845-b213-57ad9b8be0ba.vsidx
